{% extends "layout.html" %}

{% block title %}اضافة رسوم جديدة{% endblock %}

{% block main %}

<section class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
            <li><a class="text-primary" href="/home">الرئيسية</a></li>
            <li><a class="text-primary" href="/feerecords">سجل الرسوم</a></li>
            {% if id %}
            <li><a class="text-primary" href="/students">الطلاب</a></li>
            {% endif %}
            <li class="active">أضافة رسوم</li>
            </ul>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="record-table-container panel panel-default">
                <table class="table table-bordered table-condensed" id="studentsTable" style="background:white;">
                    <thead>
                        <tr class="success">
                            <th class="">رقم الطالب</th>
                            <th class="">التاريخ</th>
                            <th class="">ايصال الاستلام</th>
                            <th class="">قيمة الرسوم</th>
                            <th class="text-center">أضافة</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in range(i) %}
                        <tr class="">
                            <form id="recordForm{{x}}" class="fee-record-form" method="post">
                            <td class="col-md-1">
                                {% if id %}
                                <input class="form-control c-p" name="studentID" type="text" value="{{ id }}" placeholder="رقم الطالب">
                                {% else %}
                                <input class="form-control c-p" name="studentID" type="text" value="" placeholder="رقم الطالب">
                                {% endif %}
                            </td>
                            <td class="">
                                <input class="form-control c-p" name="date" type="date" value="" placeholder="التاريخ">
                            </td>
                            <td class="">
                                <input class="form-control c-p" name="feefor" type="text" value="" placeholder="رقم الايصال">
                            </td>
                            <td class="">
                                <input class="form-control c-p" name="depositedfee" type="text" value="" placeholder="قيمة الرسوم">
                            </td>
                            <td class="text-center">
                                <input class="btn btn-warning c-p" type="Submit" value="أضافة">
                            </td>
                            </form>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<script>
$(document).ready(function () {
$(".fee-record-form").on("submit", function(e) {
    e.preventDefault();
    addNewFeeRecord($(this)[0], $(this).attr("id"))
});

function addNewFeeRecord(form, formID) {
    var form_data = new FormData(form);
    $("#" + formID).parent().find("input[type='Submit']").attr("disabled", "true");
    $.ajax({
        type: 'POST',
        url: '/addnewfeerecord',
        data: form_data,
        contentType: false,
        processData: false,
        dataType: 'json'
    }).done(function(data, textStatus, jqXHR){
        console.log(data);
        console.log(textStatus);
        console.log(jqXHR);
        console.log('Success!');
        if (data[0]["status"] == "error") {
            $("#" + formID).parent().addClass("danger");
            $("#" + formID).parent().find("input[type='Submit']").removeAttr("disabled");
        } else if (data[0]["status"] == "success") {
            $("#" + formID).parent().removeClass("danger");
            $("#" + formID).parent().find("input[type='Submit']").removeClass("btn-warning");
            $("#" + formID).parent().find("input[type='Submit']").addClass("btn-default");
            $("#" + formID).parent().find("input[type='Submit']").addClass("btn-xs");
            $("#" + formID).parent().find("input[type='Submit']").val("تم الاضافة");
            $("#" + formID).parent().find("input").attr("disabled", "true");
        }
    }).fail(function(data){
        console.log("ERROR:");
        $("#" + formID).parent().find("input[type='Submit']").removeAttr("disabled");
    });
}

if (window.innerWidth < 760){
    $(".record-table-container").addClass("table-responsive");
    $(".record-table-container").css("min-height", "220px;");
}
});
</script>

{% endblock %}